h1{
    font-weight: bolder;
}
body{
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
    margin:0;
}

.Movies{
    margin: 20px 0;
}
.Movies select{
    background-color:white;
    border: 0;
    border-radius: 5px;
    font-size: 15;
    margin-left: 10px;
    padding: 5px 15px 15px;
    
}
.container{
    perspective: 1000px;
    margin-bottom: 30px;

}

.seat{
    background-color:black;
    height: 12px;
    width:15px;
    margin: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.seat.selected{
    background-color:yellow;
}
.seat.occupied{
    background-color: red;
}

.seat:nth-of-type(2){
    margin-right: 19px;
}
.seat:nth-last-of-type(2){
    margin-left: 55px;

}
.seat:not(.occupied):hover{
    cursor:pointer;
    transform: scale(1.2);
}
.legend.seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}
.legend{
    background-color:brown;
    padding: 5px, 10px;
    border-radius: 5px;
    color:white;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}
.legend li{
    display: flex;
    align-items: center;
    
    justify-content: center;
    margin: 0 10px;
    }
.legend li small{
    margin-left: 2px;
}
.row{
    display: flex;
}
.p.text{
    margin: 5px 0;
}
p.text span{
    color:violet
}
p{
    f: red;
}
